.content h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}
.content h2:first-child {
  margin-top: 0;
}
.content h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.content li {
  margin-top: 0.5em;
}

.content p {
  margin-top: 1em;
}

.content img {
  margin-top: 1em;
}
